/**
 These styles are applied to the entire page, so the selectors need to be specific
*/
.cal-embed {
  border: 0px;
  min-height: 300px;
  margin: 0 auto 20px; /* Margin at the bottom*/
  padding: 0 20px; /* Margin on the left and right */
  width: calc(100%-40px); /*Substracting 2*20px padding from 100% width */
}
