@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Cal Sans";
  src: url("https://cal.com/cal.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cal Sans";
  font-weight: normal;
  letter-spacing: normal;
}

html,
body,
:host {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
