@import 'tailwindcss';
@import "@coss/ui/styles.css";
@import "../../../config/theme/tokens.css";

@font-face {
  font-family: "Cal Sans";
  src: url("https://cal.com/cal.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cal Sans";
  font-weight: normal;
  letter-spacing: normal;
}

html,
body,
:host {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Custom space-y-* utilities post tailwinf v4 upgrade */
.stack-y-0\.5> :not([hidden])~ :not([hidden]) {
  margin-top: 0.125rem;
}

.stack-y-1> :not([hidden])~ :not([hidden]) {
  margin-top: 0.25rem;
}

.stack-y-1\.5> :not([hidden])~ :not([hidden]) {
  margin-top: 0.375rem;
}

.stack-y-2> :not([hidden])~ :not([hidden]) {
  margin-top: 0.5rem;
}

.stack-y-3> :not([hidden])~ :not([hidden]) {
  margin-top: 0.75rem;
}

.stack-y-4> :not([hidden])~ :not([hidden]) {
  margin-top: 1rem;
}

.stack-y-5> :not([hidden])~ :not([hidden]) {
  margin-top: 1.25rem;
}

.stack-y-6> :not([hidden])~ :not([hidden]) {
  margin-top: 1.5rem;
}

.stack-y-8> :not([hidden])~ :not([hidden]) {
  margin-top: 2rem;
}