* {
	-tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity));
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leading-5 {
    line-height: 1.25rem;
}
.w-7 {
    width: 1.75rem;
}

.h-7 {
    height: 1.75rem;
}

.font-semibold {
    font-weight: 600;
}
.flex {
    display: flex;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leading-5 {
    line-height: 1.25rem;
}
.font-semibold {
    font-weight: 600;
}
.mr-3 {
    margin-right: 0.75rem;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.h-screen {
  height: 100%;
}
.flex {
  display: flex;
}
.z-highest {
  z-index: 500000000;
}
.absolute {
  position: absolute;
}

.border-brand {
  border-color:var(--cal-brand-border-color);
}

.bg-brand {
  background-color: var(--cal-brand-background-color);
}

@media (min-width: 768px) {
  .md\:right-10 {
    right: 2.5rem;
  }

  .md\:bottom-6 {
    bottom: 1.5rem;
  }
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform,
    filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity,
    box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity,
    box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.drop-shadow-md {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate)
    var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.origin-center {
  transform-origin: center;
}

.h-16 {
  height: 4rem;
}

.flex {
  display: flex;
}

.right-4 {
  right: 1rem;
}

.bottom-4 {
  bottom: 1rem;
}

.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
