# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# ⬇️ Removed so we can manually trigger checks
# *           @calcom/reviewers

.github/    @calcom/leads
.husky/     @calcom/leads
.vcode/     @calcom/leads
.snaplet/   @calcom/leads
deploy/     @calcom/leads
scripts/    @calcom/leads

apps/swagger    @calcom/docs

packages/app-store-cli                @calcom/app-store
packages/dayjs                        @calcom/leads
packages/emails                       @calcom/leads
packages/embeds                       @calcom/embeds
packages/eslint-plugin                @calcom/leads
packages/features                     @calcom/leads
packages/features/kbar                @alishaz-polymath
packages/features/ee/impersonation    @calcom/impersonation
packages/features/ee/payments         @calcom/billing
packages/features/ee/workflows        @calcom/workflows
packages/features/tips                @PeerRich
# Trivial changes should be mergeable by core team as well
# Major UI changes must be reviewed by UI team
# Critical changes even if major can still be merged by core team if needed.
packages/ui                           @calcom/ui
packages/config                       @calcom/leads
packages/app-store/routing-forms      @calcom/routing-forms
