# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*           @calcom/reviewers

.github/    @calcom/core
.husky/     @calcom/core
.vcode/     @calcom/core
.snaplet/   @calcom/core
deploy/     @calcom/core
scripts/    @calcom/core

apps/docs       @calcom/docs
apps/swagger    @calcom/docs

packages/app-store-cli                @hariombalhara @calcom/core
packages/dayjs                        @zomars @calcom/core
packages/emails                       @zomars @calcom/core
packages/embeds                       @hariombalhara @calcom/core
packages/eslint-plugin                @zomars @calcom/core
packages/features                     @zomars @calcom/core
packages/features/kbar                @alishaz-polymath @calcom/core
packages/features/ee/impersonation    @sean-brydon @calcom/core
packages/features/ee/payments         @alannnc @calcom/core
packages/features/ee/workflows        @CarinaWolli @calcom/core
packages/features/tips                @PeerRich @calcom/core
packages/ui                           @calcom/ui
packages/config                       @calcom/core
packages/app-store/ee/routing-forms   @hariombalhara @calcom/core
