@import url("../../../packages/features/calendars/weeklyview/styles/styles.css");

.sbdocs {
  font-family: "Inter var" !important;
  padding: 0 !important;
}

#docs-root {
  overflow: hidden;
}

.sbdocs.sbdocs-h1 {
  font-family: "Cal Sans", "sans-serif" !important;
  font-weight: 600;
  font-size: 36px;
  margin: 0 0 82px 0;
}

.sbdocs.sbdocs-h2 {
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  margin: 82px 0 0 0;
}

.sbdocs.sbdocs-p {
  max-width: 560px;
  margin: 0 0 12px 0;
}

.sbdocs.sbdocs-content {
  width: 1200px;
  max-width: 100%;
}

/** Docs table **/
.custom-args-wrapper {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 1rem;
}

.docblock-argstable-body {
  box-shadow: none !important;
  font-size: 14px;
}

/* .docblock-argstable-head tr th, */
.docblock-argstable-body tr td {
  /* padding-left: 0!important; */
  padding: 20px !important;
}

/** Column titles **/
.docblock-argstable-body tr td > span,
.docblock-argstable-head tr th > span {
  color: #525252 !important;
  font-weight: 500 !important;
}

.docblock-argstable-body div p,
.docblock-argstable-body div span {
  color: #8f8f8f !important;
}

/** Custom components **/
.story-title {
  margin: 0 0 82px 0;
}

.story-title.offset {
  margin-top: 100px;
}

.story-title h1 {
  font-family: "Cal Sans", "sans-serif" !important;
  font-weight: 600;
  font-size: 36px;
}

.story-title h1 span {
  color: #9ca3af;
  font-family: "Inter var";
  font-weight: normal;
  display: inline-block;
  margin-left: 8px;
}

.story-title p {
  color: #111827;
  font-size: 16px;
}

.examples {
  background-color: #f9fafb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.examples-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
}

.examples-title {
  color: #8f8f8f;
  font-size: 14px;
  margin-bottom: 30px;
}

.examples-item-title {
  font-size: 12px;
  color: #8f8f8f;
  margin-bottom: 12px;
  display: block;
}

.examples-item {
  margin: 0 20px;
}

.examples-footnote p,
.examples-footnote ul,
.examples-footnote li {
  color: #8f8f8f;
  font-size: 14px;
}

.examples-footnote ul {
  padding-left: 8px;
}

.examples-footnote li {
  margin: 0 !important;
}

.story-note {
  background-color: #f9fafb;
  font-size: 14px;
  padding: 20px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.story-note > div {
  max-width: 600px;
}

/** SB Docs Preview **/
.sbdocs-preview {
  width: 100vw;
  left: calc((100vw - 1200px) / -2);
  box-shadow: none !important;
  margin: 0 !important;
  border: none !important;
  border-radius: none !important;
}

.docs-story > div:first-child {
  padding: 0 !important;
  margin: 0 !important;
}

.docs-story .innerZoomElementWrapper > div {
  border: none !important;
}

.sb-main-padded {
  padding: 0 !important;
}

@media screen and (max-width: 1200px) {
  .sbdocs-preview {
    left: -24px;
    width: calc(100vw + 48px);
    padding-left: 12px;
    padding-right: 12px;
  }

  .sbdocs.sbdocs-content {
    padding: 24px !important;
  }
}

.docs-story {
  padding: 24px !important;
}

@layer {
  :root {
    /* background */
  
    --cal-bg-emphasis: hsla(220,13%,91%,1);
    --cal-bg: hsla(0,0%,100%,1);
    --cal-bg-subtle: hsla(220, 14%, 96%,1);
    --cal-bg-muted: hsla(210,20%,98%,1);
    --cal-bg-inverted: hsla(0,0%,6%,1);
  
    /* background -> components*/
    --cal-bg-info: hsla(218,83%,98%,1);
    --cal-bg-success: hsla(134,76%,94%,1);
    --cal-bg-attention: hsla(37, 86%, 92%, 1);
    --cal-bg-error: hsla(3,66,93,1);
    --cal-bg-dark-error: hsla(2, 55%, 30%, 1);
  
    /* Borders */
    --cal-border-emphasis: hsla(218, 11%, 65%, 1);
    --cal-border: hsla(216, 12%, 84%, 1);
    --cal-border-subtle: hsla(220, 13%, 91%, 1);
    --cal-border-booker: #e5e7eb;
    --cal-border-muted: hsla(220, 14%, 96%, 1);
    --cal-border-error: hsla(4, 63%, 41%, 1);
  
    /* Content/Text */
    --cal-text-emphasis: hsla(217, 19%, 27%, 1);
    --cal-text: hsla(217, 19%, 27%, 1);
    --cal-text-subtle: hsla(220, 9%, 46%, 1);
    --cal-text-muted: hsla(218, 11%, 65%, 1);
    --cal-text-inverted: hsla(0, 0%, 100%, 1);
  
    /* Content/Text -> components */
    --cal-text-info: hsla(228, 56%, 33%, 1);
    --cal-text-success: hsla(133, 34%, 24%, 1);
    --cal-text-attention: hsla(16, 62%, 28%, 1);
    --cal-text-error: hsla(2, 55%, 30%, 1);
  
    /* Brand shinanigans
        -> These will be computed for the users theme at runtime.
      */
    --cal-brand: hsla(221, 39%, 11%, 1);
    --cal-brand-emphasis: hsla(0, 0%, 6%, 1);
    --cal-brand-text: hsla(0, 0%, 100%, 1);
  }
  .dark {
    /* background */
  
    --cal-bg-emphasis: hsla(0, 0%, 32%, 1);
    --cal-bg: hsla(0, 0%, 10%, 1);
    --cal-bg-subtle: hsla(0, 0%, 18%, 1);
    --cal-bg-muted: hsla(0, 0%, 12%, 1);
    --cal-bg-inverted: hsla(220, 14%, 96%, 1);
  
    /* background -> components*/
    --cal-bg-info: hsla(228, 56%, 33%, 1);
    --cal-bg-success: hsla(133, 34%, 24%, 1);
    --cal-bg-attention: hsla(16, 62%, 28%, 1);
    --cal-bg-error: hsla(2, 55%, 30%, 1);
    --cal-bg-dark-error: hsla(2, 55%, 30%, 1);
  
    /* Borders */
    --cal-border-emphasis: hsla(0, 0%, 46%, 1);
    --cal-border: hsla(0, 0%, 34%, 1);
    --cal-border-subtle: hsla(0, 0%, 22%, 1);
    --cal-border-booker: hsla(0, 0%, 22%, 1);
    --cal-border-muted: hsla(0, 0%, 18%, 1);
    --cal-border-error: hsla(4, 63%, 41%, 1);
  
    /* Content/Text */
    --cal-text-emphasis: hsla(240, 20%, 99%, 1);
    --cal-text: hsla(0, 0%, 84%, 1);
    --cal-text-subtle: hsla(0, 0%, 65%, 1);
    --cal-text-muted: hsla(0, 0%, 34%, 1);
    --cal-text-inverted: hsla(0, 0%, 10%, 1);
  
    /* Content/Text -> components */
    --cal-text-info: hsla(218, 83%, 93%, 1);
    --cal-text-success: hsla(134, 76%, 94%, 1);
    --cal-text-attention: hsla(37, 86%, 92%, 1);
    --cal-text-error: hsla(3, 66%, 93%, 1);
  
    /* Brand shenanigans
        -> These will be computed for the users theme at runtime.
      */
    --cal-brand: hsla(0, 0%, 100%, 1);
    --cal-brand-emphasis: hsla(218, 11%, 65%, 1);
    --cal-brand-text: hsla(0, 0%, 0%,1);
  }
  
}
