[submodule "apps/api"]
	path = apps/api
	url = git@github.com:calcom/api.git
	branch = main
[submodule "apps/website"]
	path = apps/website
	url = git@github.com:calcom/website.git
	branch = main
[submodule "apps/console"]
	path = apps/console
	url = git@github.com:calcom/console.git
	branch = main
