node_modules
.next
public
**/**/node_modules
**/**/.next
**/**/public

*.lock
*.log

.gitignore
.npmignore
.prettierignore
.DS_Store
.eslintignore
packages/prisma/zod
packages/prisma/enums
apps/web/public/embed
packages/ui/components/icon/dynamicIconImports.tsx
