# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma (Turso Database from https://turso.tech/app)
# https://www.prisma.io/docs/orm/overview/databases/turso
TURSO_DATABASE_URL="libsql://calcom-platform-p6l-richard.turso.io"
TURSO_AUTH_TOKEN="eyJhbGc****"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="SQhGk0B****"
NEXTAUTH_URL="http://localhost:3000"

# CALCOM API
# https://cal.com/docs/platform/quick-start#5.2-setup-environment-variables
# CLIENT ENV VARIABLES

# 1/ *OAUTH.* Generate an oauth client on calcom: https://cal.com/docs/platform/quick-start#2.-setting-up-an-oauth-client
NEXT_PUBLIC_CAL_OAUTH_CLIENT_ID="cluwyp9yb0001p61n2dkqdmo1"
# 2/ *CAL API.* We use our sandbox. In production, you'll have to change this to: https://api.cal.com/v2. Have fun testing our sandbox! :)
NEXT_PUBLIC_CAL_API_URL="https://api.cal.dev/v2"
# 3/ *REFRESH URL.* You have to expose an endpoint that will be used from calcom: https://cal.com/docs/platform/quick-start#4.-backend:-setting-up-refresh-token-endpoint
NEXT_PUBLIC_REFRESH_URL="http://localhost:3000/api/cal/refresh"
# SERVER ENV VARIABLES (keept it safe & secret)
CAL_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiU2FuZGJveCIsInBlcm1pc3Npb25zIjoxMDIzLCJyZWRpcmVjdFVyaXMiOlsiaHR0cDovL2xvY2FsaG9zdDo0MzIxIl0sImJvb2tpbmdSZWRpcmVjdFVyaSI6IiIsImJvb2tpbmdDYW5jZWxSZWRpcmVjdFVyaSI6IiIsImJvb2tpbmdSZXNjaGVkdWxlUmVkaXJlY3RVcmkiOiIiLCJhcmVFbWFpbHNFbmFibGVkIjpmYWxzZSwiaWF0IjoxNzEyOTQ0MTE5fQ.6nzpSDBbvJVrtdHx5-QkBox9v2TSSPuH1jGFhsBHDUI"