.loader {
    margin: 80px auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #039be5; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}