option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.medium
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:ap-southeast-1:705030229210:certificate/3e27aebf-3946-4aa3-8693-178d53cd72a2
    ListenerProtocol: HTTPS
    InstancePort: 80
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: postgresql://postgres:amili123!@database-2.cbwbi1usnhuz.ap-southeast-1.rds.amazonaws.com:5432/calendso-staging
    GOOGLE_API_CREDENTIALS: secret
    BASE_URL: https://ass.v2.dev.bioandme.asia
    NEXT_PUBLIC_TELEMETRY_KEY: js.2pvs2bbpqq1zxna97wcml.oi2jzirnbj1ev4tc57c5r
    MS_GRAPH_CLIENT_ID:
    MS_GRAPH_CLIENT_SECRET: 
    ZOOM_CLIENT_ID: HMJt7kJnQMyEzoQedB_8pA
    ZOOM_CLIENT_SECRET: pNCAd3jbBZEN2c16M74KohkzcZq2pPj6
    EMAIL_FROM: notifications@yourselfhostedcalendso.com
    AMILI_BASE_URL: https://admin.v2.dev.bioandme.asia
    EMAIL_SERVER_HOST: smtp.office365.com
    EMAIL_SERVER_PORT: 587
    EMAIL_SERVER_USER: <office365_emailAddress>
    EMAIL_SERVER_PASSWORD: <office365_password>
    AMILI_USERNAME: amiliass
    AMILI_PASSWORD: Z!gvy123
    AMILI_API_BASE_URL: http://api.v2.dev.bioandme.asia