.react-calendar {
  width: 350px;
  max-width: 100%;
  background: var(--cal-bg);
  border: 1px solid var(--cal-bg-inverted);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar,
.react-calendar *,
.react-calendar ::before,
.react-calendar ::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation button:disabled {
  background-color: transparent;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #1d5ad8;
  color: var(--cal-text-emphasis);
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--cal-bg-subtle);
}

.react-daterange-picker > .react-daterange-picker__wrapper {
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border-color: #e5e7eb;
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
}

.react-daterange-picker__wrapper > .react-daterange-picker__calendar-button.react-daterange-picker__button {
  padding: 4px 0;
}

.react-daterange-picker > .react-daterange-picker__wrapper > .react-daterange-picker__inputGroup {
  height: auto;
}

.react-daterange-picker.react-daterange-picker--disabled {
  background-color: transparent;
}

.react-daterange-picker.react-daterange-picker--disabled > .react-daterange-picker__wrapper {
  background-color: #f3f4f6;
}

.react-daterange-picker > .react-daterange-picker__wrapper:focus-within,
.react-daterange-picker > .react-daterange-picker__wrapper:focus-within:hover {
  border-color: var(--cal-bg-subtle);
  border-width: 2px;
}

.react-daterange-picker > .react-daterange-picker__wrapper input {
  margin: 0;
  height: auto;
  border-radius: 0.125rem;
}

.react-daterange-picker__calendar.react-daterange-picker__calendar--open {
  width: 360px;
}

.react-daterange-picker__calendar > .react-calendar {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #e5e7eb;
  width: 360px;
  margin-top: 4px;
}

.react-calendar__navigation > .react-calendar__navigation__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.react-calendar__navigation > .react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation > .react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation > .react-calendar__navigation__label {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--cal-text);
  order: -9999;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
}

.react-calendar__navigation > .react-calendar__navigation__arrow {
  text-align: center;
  color: #6b7280;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
}

.react-calendar__month-view__days {
  padding: 0.25rem;
  gap: 0.25rem;
  font-size: 14px;
}

button.react-calendar__tile.react-calendar__month-view__days__day {
  flex: 0 0 13.25% !important;
  border-radius: 0.375rem;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative;
}

.react-calendar__tile.react-calendar__tile--hover:not(.react-calendar__tile--active) {
  background-color: var(--cal-bg-subtle) !important;
}

.react-calendar__month-view__days > .react-calendar__tile.react-calendar__tile--hasActive,
.react-calendar__month-view__days > .react-calendar__tile.react-calendar__tile--active,
.react-calendar__month-view__days > button.react-calendar__tile.react-calendar__tile--active:hover {
  background-color: var(--cal-bg-inverted);
  color: var(--cal-text-inverted);
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__month-view__days__day--weekend {
  color: var(--cal-text-inverted);
}

.react-calendar__tile.react-calendar__month-view__days__day--weekend {
  color: var(--cal-text-emphasis);
}

.react-calendar__tile.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--cal-text-muted);
}

.react-calendar__tile--now::before {
  content: "\A";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--cal-text-emphasis);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: inherit;
}

button.react-calendar__tile.react-calendar__month-view__days__day:hover,
.react-calendar__tile.react-calendar__year-view__months__month:hover {
  background-color: var(--cal-bg-subtle);
  color: var(--cal-text-emphasis);
}

.react-daterange-picker > .react-daterange-picker__wrapper:hover {
  border-color: var(--cal-bg-subtle);
}

.react-daterange-picker.react-daterange-picker--disabled > .react-daterange-picker__wrapper:hover {
  border-color: var(--cal-bg-subtle);
}

.react-calendar__navigation button.react-calendar__navigation__label:enabled:hover,
.react-calendar__navigation button.react-calendar__navigation__label:enabled:focus {
  background-color: transparent;
}
