.chatblock {

    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


.chatblock::-webkit-scrollbar {
    display: none;
  }

.chatbot-button:hover{
  opacity: 0.5;
}

/* .dot-flashing {
    border: 2px solid black;
    margin: 1rem 0 1rem 0;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    max-width: 80%;
} */

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #374151;
  color: #374151;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #374151;
  color: #374151;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #374151;
  color: #374151;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #374151;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}