@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/buttons.css';
@import './components/spinner.css';

body {
    background-color: #f3f4f6;
}

html[lang='fa'] body {
    direction: rtl;
    font-family: 'Shabnam', sans-serif;
}

.loading-box {
    width: 100vw;
    height: 100vh;
}

.text-white-important {
    color: white !important;
}

@layer utilities {
    .transition-max-width {
        -webkit-transition-property: max-width;
        transition-property: max-width;
    }
}

#timeZone input:focus {
    box-shadow: none;
}