.DateRangePickerInput__withBorder {
    border-radius: 5px;
    overflow: hidden;
    border-color: rgba(197, 210, 220);
}
  
.DateInput {
    width: 90px;
    color: black;
}
  
.DateInput_input {
    padding: 5px 5px 2px;
    font-size: 12px;
    font-weight: 500;
}
  
.DateInput_input::placeholder {
    color: #33363A;
}
  
.DateRangePickerInput_arrow_svg {
    width: 16px;
    height: 16px;
}
  