name: Atoms production Build

on:
  workflow_call:
    inputs:
      commit-sha:
        description: "Commit SHA for cache key"
        required: true
        type: string

jobs:
  build:
    name: Build Atoms
    permissions:
      contents: read
    runs-on: blacksmith-4vcpu-ubuntu-2404
    timeout-minutes: 30
    steps:
      - name: Restore git checkout from cache
        uses: actions/cache/restore@v4
        with:
          path: |
            .
            !.git
            !node_modules
            !**/node_modules
          key: git-checkout-${{ inputs.commit-sha }}
          fail-on-cache-miss: true
      - uses: ./.github/actions/yarn-install
      - name: Cache atoms production build
        uses: actions/cache@v4
        id: cache-atoms-build
        env:
          cache-name: atoms-build
          key-1: ${{ hashFiles('yarn.lock') }}
          key-2: ${{ hashFiles('packages/platform/atoms/**.[jt]s', 'packages/platform/atoms/**.[jt]sx', 'packages/platform/atoms/package.json', '!**/node_modules') }}
        with:
          path: |
            **/dist/**
          key: ${{ env.cache-name }}-${{ env.key-1 }}-${{ env.key-2 }}
      - name: Run build
        if: steps.cache-atoms-build.outputs.cache-hit != 'true'
        run: |
          export NODE_OPTIONS="--max_old_space_size=8192"
          rm -rf packages/platform/atoms/node_modules
          yarn install
          yarn workspace @calcom/atoms run build-npm
        shell: bash
