name: Detect Changes and Check Labels
on:
  workflow_call:
permissions:
  pull-requests: read
jobs:
  changes-and-checks:
    name: Detect changes and check E2E label
    runs-on: buildjet-2vcpu-ubuntu-2204
    outputs:
      has-files-requiring-all-checks: ${{ steps.filter.outputs.has-files-requiring-all-checks }}
      commit-sha: ${{ steps.get_sha.outputs.commit-sha }}
      run-e2e: ${{ steps.check-if-pr-has-label.outputs.run-e2e == 'true' && (github.event.action != 'labeled' || github.event.label.name == 'ready-for-e2e') }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/dangerous-git-checkout
      
      # File change detection
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            has-files-requiring-all-checks:
              - "!(**.md|**.mdx|.github/CODEOWNERS|docs/**|help/**|apps/web/public/static/locales/**/common.json|i18n.lock)"
      
      # Get commit SHA
      - name: Get Latest Commit SHA
        id: get_sha
        run: |
          echo "commit-sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
      
      # Check for E2E label
      - name: Check if PR has ready-for-e2e label
        id: check-if-pr-has-label
        uses: actions/github-script@v7
        with:
          script: |
            let labels = [];
            
            if (context.payload.pull_request) {
              labels = context.payload.pull_request.labels;
            } else {
              try {
                const sha = '${{ steps.get_sha.outputs.commit-sha }}';
                console.log('sha', sha);
                const { data: prs } = await github.rest.repos.listPullRequestsAssociatedWithCommit({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  commit_sha: sha
                });
                
                if (prs.length === 0) {
                  core.setOutput('run-e2e', false);
                  console.log(`No pull requests found for commit SHA ${sha}`);
                  return;
                }
                
                const pr = prs[0];
                console.log(`PR number: ${pr.number}`);
                console.log(`PR title: ${pr.title}`);
                console.log(`PR state: ${pr.state}`);
                console.log(`PR URL: ${pr.html_url}`);
                
                labels = pr.labels;
              }
              catch (e) {
                core.setOutput('run-e2e', false);
                console.log(e);
              }
            }
            
            const labelFound = labels.map(l => l.name).includes('ready-for-e2e');
            console.log('Found the label?', labelFound);
            core.setOutput('run-e2e', labelFound);
