name: Check types
on:
  pull_request_target:
    branches:
      - main
jobs:
  check-types:
    name: Check types
    strategy:
      matrix:
        node: ["16.x"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 2

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"
      - run: yarn --frozen-lockfile
      - run: yarn type-check
