on:
  workflow_call:
  pull_request:
    types: [closed]

permissions:
  contents: write
  issues: write
  pull-requests: write
jobs:
  cleanup-report:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub App token
        id: generate-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94
        with:
          app-id: ${{ secrets.CI_CAL_APP_ID }}
          private-key: ${{ secrets.CI_CAL_APP_PRIVATE_KEY }}
          repositories: 'test-results-2'

      - name: Checkout GitHub Pages Branch
        uses: actions/checkout@v4
        with:
          repository: calcom/test-results-2
          ref: gh-pages
          token: ${{ steps.generate-token.outputs.token }}

      - name: Set Git User
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Cleanup HTML reports on PR close/merge
        env:
          BRANCH_REPORTS_DIR: reports/${{ github.event.pull_request.head.ref }}
          HEAD_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          if [ -d "$BRANCH_REPORTS_DIR" ]; then
            rm -rf "$BRANCH_REPORTS_DIR"
            git add .
            git commit -m "workflow: remove all reports for branch $HEAD_REF (PR closed/merged)"
            git push
          else
            echo "No reports found for branch $HEAD_REF. Nothing to clean up."
          fi
