name: Delete Blacksmith Cache
on:
  workflow_dispatch:
    inputs:
      cache_key:
        description: "Blacksmith Cache Key to Delete"
        required: true
        type: string
  pull_request:
    types: [closed]

jobs:
  manually-delete-blacksmith-cache:
    if: github.event_name == 'workflow_dispatch'
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: useblacksmith/cache-delete@v1
        with:
          key: ${{ inputs.cache_key }}

  delete-yarn-install-cache-on-pr-close:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Delete yarn-download-cache
        uses: useblacksmith/cache-delete@v1
        with:
          key: yarn-download-cache-${{ hashFiles('yarn.lock') }}-${{ github.event.pull_request.number }}
      - name: Delete yarn-nm-cache
        uses: useblacksmith/cache-delete@v1
        with:
          key: Linux-yarn-nm-cache-${{ hashFiles('yarn.lock', '.yarnrc.yml') }}-${{ github.event.pull_request.number }}
      - name: Delete yarn-install-state-cache
        uses: useblacksmith/cache-delete@v1
        with:
          key: Linux-yarn-install-state-cache-${{ hashFiles('yarn.lock', '.yarnrc.yml') }}-${{ github.event.pull_request.number }}
