name: Manually Delete Blacksmith Cache
on:
  workflow_dispatch:
    inputs:
      cache_key:
        description: "Blacksmith Cache Key to Delete"
        required: true
        type: string
jobs:
  manually-delete-blacksmith-cache:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: useblacksmith/cache-delete@v1
        with:
          cache_key: ${{ inputs.cache_key }}
