name: Run i18n AI automation
on:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-main
  cancel-in-progress: false

jobs:
  i18n:
    name: Run i18n
    runs-on: buildjet-2vcpu-ubuntu-2204
    permissions:
      actions: write
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: Generate GitHub App token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.RELEASE_APP_ID }}
          private-key: ${{ secrets.RELEASE_APP_PRIVATE_KEY }}
      - uses: lingodotdev/lingo.dev@main
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        with:
          api-key: ${{ secrets.CI_LINGO_DOT_DEV_API_KEY }}
          pull-request: true
