name: Run i18n AI automation
on:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  i18n:
    name: Run i18n
    runs-on: buildjet-2vcpu-ubuntu-2204
    permissions:
      actions: write
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: replexica/replexica@main
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          api-key: ${{ secrets.CI_REPLEXICA_API_KEY }}
          pull-request: true
