name: Lint
on:
  workflow_call:
permissions:
  actions: write
  contents: read
jobs:
  lint:
    runs-on: blacksmith-2vcpu-ubuntu-2404

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 2
          sparse-checkout: |
            /*
            !/docs
            !/example-apps
          sparse-checkout-cone-mode: false
      - uses: ./.github/actions/yarn-install
      - name: Run Lint
        run: yarn lint
        continue-on-error: true
