name: Lint
on:
  workflow_call:
permissions:
  actions: write
  contents: read
jobs:
  lint:
    runs-on: blacksmith-2vcpu-ubuntu-2404

    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - uses: ./.github/actions/cache-checkout
      - uses: ./.github/actions/yarn-install
      - name: Run Lint
        run: yarn lint
