name: Submodule Sync
on:
  schedule:
    # Runs "At minute 15 past every 4th hour." (see https://crontab.guru)
    - cron: "15 */4 * * *"
  workflow_dispatch: ~
jobs:
  submodule-sync:
    name: Submodule update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.GH_ACCESS_TOKEN }}
      - name: Commit
        run: |
          git config user.email "actions@github.com"
          git config user.name "github-actions"
          git commit -am "Auto updated submodule references" && git push || echo "No changes to commit"
