name: Unit
on:
  workflow_call:
env:
  LINGO_DOT_DEV_API_KEY: ${{ secrets.CI_LINGO_DOT_DEV_API_KEY }}
permissions:
  contents: read
jobs:
  test:
    name: Unit
    timeout-minutes: 20
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: .github
      - uses: ./.github/actions/cache-checkout
      - uses: ./.github/actions/yarn-install
      - run: yarn prisma generate
      - run: yarn test -- --no-isolate
      # We could add different timezones here that we need to run our tests in
      - run: TZ=America/Los_Angeles VITEST_MODE=timezone yarn test -- --no-isolate
