name: Yarn install

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        default: "20"
        type: string

permissions:
  contents: read

jobs:
  setup:
    name: Yarn install & cache
    runs-on: buildjet-4vcpu-ubuntu-2204
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/dangerous-git-checkout
      - uses: ./.github/actions/yarn-install
        with:
          node-version: ${{ inputs.node-version }}
      - uses: ./.github/actions/yarn-playwright-install
